{% extends "layout.html" %}
{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <div class="col">
                  <h3>Your new IP {{ip}} has been successfully added. Click <a id="uri" href="http://80.114.161.77/login">
                      here</a> if you are not redirect in <span id="counter">3</span> seconds.
                  </h3>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block script %}
    <script>
        var uri = document.getElementById("uri");
        var counter = 3;

        setInterval(function() {
            counter--;

            if (counter >= 0) {
                span = document.getElementById("counter");
                span.innerHTML = counter;
                }

            // Display 'counter' wherever you want to display it.
            if (counter === 0) {
                //    alert('this is where it happens');
                clearInterval(counter);
                }
            }, 1000);

        window.setTimeout(function() {
        // Move to a new location
        window.location.href = uri.href;
            }, 3000);
    </script>
{% endblock script %}


